@import "tailwindcss";

@theme {
  --font-sans: "Times New Roman", Times, serif;
  --font-serif: "Times New Roman", Times, serif;
}

html,
body {
  font-family: "Times New Roman", Times, serif;
  @apply bg-[#021814] text-zinc-100;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
